.libs
*.o
*.obj
*.exe
*.lib
*.dll
*.exp
*.manifest
runtest.bat
*.pdb
*.ilk
*.swp
*.tar.gz
test
*.deps
Makefile
Makefile.in
_configs.sed
aclocal.m4
autom4te.cache
libtool
config.log
config.status
configure
dist/
