*.o
*.swp
test_data
test
*.deps
Makefile
Makefile.in
_configs.sed
aclocal.m4
autom4te.cache
config.log
config.status
configure
include/config.h
include/config.h.in
include/stamp-h1
include/fudge/config.h
